.about {
  position: relative;
  color: #3e3f3f;
  background: #f8fafa;
  padding-bottom: 93px;

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0 42px;

    @media (max-width: 1080px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__list {
    position: relative;

    @media (max-width: 1080px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    &:before {
      content: '';
      display: block;
      background: #eeeff1;
      position: absolute;
      top: 35px;
      bottom: 35px;
      left: -43px;
      right: -43px;
      z-index: 0;

      @media (max-width: 600px) {
        margin: 20px;
        top: 5px;
        bottom: 5px;
      }

      @media (max-width: 380px) {
        top: -10px;
        bottom: -10px;
      }
    }
  }

  &__item--text {
    margin: 34px auto 0 176px;

    @media (max-width: 1080px) {
      margin: 10px 0;
    }
  }

  &__header {
    margin: 0;
    font-size: 1.375rem;
    font-family: $ff-main-bold;
  }

  &__description {
    margin-top: -9px;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: left;
    padding-bottom: 44px;
    font-family: $ff-main-light;
  }

  &__img {
    position: relative;
    z-index: 1;

    @media (max-width: 600px) {
      width: 100%;
    }
  }
}


/*------------ Carousel ------------*/

// Wrapper for the slide container and indicators
.about__carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);

  @media (max-width: 1080px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  .item {
    display: none;
    position: relative;
  }
  .active, .next, .prev {
    display: block;
  }
  .active {
    left: 0;
  }
  .next, .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .next {
    left: 100%;
  }
  .prev {
    left: -100%;
  }
  .next.left, .prev.right {
    left: 0;
  }
  .active {
    &.left {
      left: -100%;
    }
    &.right {
      left: 100%;
    }
  }
}

/*------------ Carousel controls ------------*/

.carousel-indicators {
  position: absolute;
  bottom: -25px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
  li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #d0d0d0;
  }
  .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #71f6eb;
  }
}

.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  .btn {
    text-shadow: none;
  }
}
