.about {
  position: relative;
  color: #3e3f3f;
  background: #f8fafa;
  padding-bottom: 150px;

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0 42px;

    @media (max-width: 1080px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__carousel {
    margin: 34px 0 34px 39px
  }

  &__list {
    position: relative;

    @media (max-width: 1080px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    &:before {
      content: '';
      display: block;
      background: #eeeff1;
      position: absolute;
      top: 35px;
      bottom: 35px;
      left: -43px;
      right: -43px;
      z-index: 0;

      @media (max-width: 600px) {
        margin: 20px;
        top: 5px;
        bottom: 5px;
      }

      @media (max-width: 380px) {
        top: -10px;
        bottom: -10px;
      }
    }
  }

  &_slide {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 2s, visibility 0s;
    z-index: 9;

    @media (max-width: 1080px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    &.isActive {
      visibility: visible;
      opacity: 1;
      position: relative;
    }
  }

  &__item {
    position: relative;
    text-align: center;
    white-space: nowrap;

    @media (max-width: 600px) {
      margin: 0 10px;
    }
  }

  &__img-bg {

    @media (max-width: 1079px) {
      margin: 0 auto 60px;
    }
  }

  &__item--text {
    margin: 34px auto 0 176px;

    @media (max-width: 1080px) {
      margin: 10px 0;
    }
  }

  &__img {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  &__header {
    margin: 0;
    font-size: 1.375rem;
    font-family: $ff-main-bold;
  }

  &__description {
    margin-top: -9px;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: left;
    padding-bottom: 44px;
    font-family: $ff-main-light;
  }
}

.someOtherSlider__nav {
  margin-top: 30px;
  text-align: center;
  position: relative;
  z-index: 10;
}

.someOtherSlider--prev, .someOtherSlider--next {
  display: inline-block;
  cursor: pointer;
  font-size: 2rem;
  color: #bdbdbd;
  margin-right: 20px;
  padding: 5px 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);

  &:hover {
    color: #2f6763;
    background: #71f6eb;
  }
}