.faq {
  position: relative;
  padding-bottom: 123px;

  @media (min-width: 320px) and (max-width: 810px) {
    padding: 50px 0 55px 0;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 120px;

    @media (max-width: 1250px) {
      margin: 0 50px;
    }
  }

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../images/contact_bg.png) right/cover no-repeat;
  }

  .form__item {
    width: 54%;

    @media (max-width: 1080px) {
      margin: 0 auto;
      width: 100%;
      margin-bottom: 50px;
    }
  }
}

.form {
  position: relative;
  margin: auto;
  padding: 24px 50px 38px 28px;
  border-radius: 3px;
  color: #6b7981;
  text-align: left;
  background-color: rgba(2,22,35,0.71);

  &__fields {
    margin-bottom: 32px;
  }

  &__input {
    background: transparent;
    color: #b1babf;
    width: 100%;
    display: block;
    margin: auto auto 6px 0;
    padding: 18px 20px;
    border: none;
    border-bottom: 1px solid #6b7981;
    border-radius: 3px;
    font-size: 0.875rem;

    @media (min-width: 320px) and (max-width: 810px) {
      width: 100%;
    }
  }

  .button {
    padding: 27px 50px;
    border: none;
    color: #214744;
    background: #6eeee4;
    font-family: $ff-main-bold;

    @media (max-width: 424px) {
      line-height: 1.5;
      padding: 10px 10px;
    }

    &:hover {
      color: lighten(#214744, 7%);
      background: lighten(#6eeee4, 7%);
    }
  }

  .textarea {
    height: 130px;
    margin-bottom: 37px;
  }
}

.faq__text {
  width: 44%;
  background-color: rgba(2,22,35,0.71);
  padding: 30px 30px 0;

  @media (max-width: 1080px) {
    margin: 0 auto;
    width: 100%;
  }
}

.faq__description {
  color: #b1babf;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  font-family: $ff-main-light;

  @media (max-width: 1080px) {
    margin-bottom: 30px;
  }
}

.faq__map {
  margin-top: 20px;

  @media (max-width: 1250px) {
    margin-top: 40px;
  }

  img {
    width: 100%;
  }

  @media (max-width: 600px) {
    display: none;
  }
}

::placeholder {
  color: #b1babf;
}

