.footer {
  padding: 26px;
  text-align: center;
  background: #262b2e;
  color: #969798;

  &__title {
    margin-top: 73px;
    font-size: 1rem;
    font-family: $ff-main-light;
  }

  &__social {
    margin-left: 10px;
    padding: 12px 15px;
    background: #424648;

    &:hover {
     background: #6eeee4;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__links {
    margin: 37px auto 61px;
    color: #bbb8b9;

    .fa {
      color: #bbb8b9;
      font-size: 1.34rem;

      &:hover {
        color: #081e1c;
      }
    }
  }

  &__text {
    margin-bottom: 70px;
    font-size: 1rem;
    color: #cecece;

    @media (max-width: 530px) {
      line-height: 1.5;
    }
  }
}