.partners {
  position: relative;
  color: #3e3f3f;
  padding-bottom: 54px;

  .icon__list--1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 109px 0 0;
  }

  .icon__list--2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 31px 0;
  }

  @media (max-width: 1200px) {
    margin: 0 50px;
    padding: 0 50px;
  }

  @media (max-width: 330px) {
    padding: 0;
  }
}