.services {
  text-align: center;
  color: #343434;
  padding-bottom: 92px;
  background: #f9fbfb;
  line-height: 1.5;

  .title {
    padding: 33px 0 107px;

    &__header {
      line-height: 1.3;
      margin-bottom: 3px;
      padding: 0 30px;
    }
  }

  &__list {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    margin-top: 8px;
    padding: 0;

    @media (max-width: 1250px) {
      justify-content: center;
    }
  }

  &__item {
    padding: 0;
    position: relative;

    &:first-child, &:nth-child(3) {
      margin: 0 14px 7px 0;

      &:before {
        content: '';
        display: block;
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        bottom: 7px;
        left: 0;
        right: 0;
        z-index: 1;
      }

      @media (max-width: 1250px) {
        width: 48%;
      }

      @media (max-width: 800px) {
        width: 80%;
        margin: 0 auto 10px;
      }
    }

    &:nth-child(5) {
      margin: 0 17px 7px 0;

      @media (max-width: 1250px) {
        width: 48%;
      }

      @media (max-width: 800px) {
        width: 80%;
        margin: 0 auto 10px;
      }
    }

    &:nth-child(2), &:nth-child(4) {

      &:before {
        content: '';
        display: block;
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        bottom: 14px;
        left: 0;
        right: 0;
        z-index: 1;
      }

      @media (max-width: 800px) {

        &:before {
          top: 0;
          bottom: 4px;
          left: 0;
          right: 0;
        }
      }
    }

    &:nth-child(5) {

      &:before {
        content: '';
        display: block;
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        bottom: 7px;
        left: 0;
        right: 0;
        z-index: 1;
      }
    }

    &:nth-child(2), &:nth-child(4), &:nth-child(5) {

      @media (max-width: 1250px) {
        width: 35%;
      }

      @media (max-width: 800px) {
        width: 80%;
        margin: 0 auto 10px;
      }
    }

    &:last-child {

      &:before {
        content: '';
        display: block;
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        bottom: 14px;
        left: 0;
        right: 0;
        z-index: 1;

        @media (max-width: 800px) {
          bottom: 5px;
        }
      }

      @media (max-width: 1250px) {
        width: 48%;
      }

      @media (max-width: 800px) {
        width: 80%;
        margin: 0 auto 10px;
      }
    }

    img {
      position: relative;
      width: 100%;

      @media (max-width: 1080px) {
        width: 100%;
      }
    }
  }

  &__description {
    padding: 65px;
    text-align: left;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    color: #132928;
    transition: all 1s;
    z-index: 3;

    @media (max-width: 1080px) {
      padding: 20px 30px;
    }

    @media (max-width: 500px) {
      padding: 10px;
    }

    &:hover {
      margin: 0 auto 14px;
      opacity: 1;
      background: rgba(113,246,235,0.97);
      cursor: pointer;
      transition: all 1s;

      @media (max-width: 800px) {
        margin: 0 auto 4px;
        //padding: 30px;
      }
    }
  }

  &__description--1 {
    padding: 65px;
    text-align: left;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    color: #132928;
    transition: all 1s;
    z-index: 3;

    @media (max-width: 1080px) {
      padding: 20px 30px;
    }

    @media (max-width: 500px) {
      padding: 10px;
    }

    &:hover {
      margin: 0 auto 7px;
      opacity: 1;
      background: rgba(113,246,235,0.97);
      cursor: pointer;
      transition: all 1s;
    }
  }

  &__header {
    font-size: 1.2rem;
    font-family: $ff-main-bold;
    margin-bottom: 24px;

    //@media (max-width: 1080px) {
    //  font-size: 1.5rem;
    //}

    @media (max-width: 880px) {
      margin-bottom: 10px;
      font-size: 1.2rem;
    }

    @media (max-width: 522px) {
      font-size: .8rem;
    }
  }

  &__text {
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: $ff-main-light;

    //@media (max-width: 1080px) {
    //  font-size: 1.2rem;
    //}

    @media (max-width: 880px) {
      font-size: 1rem;
    }

    @media (max-width: 522px) {
      font-size: .7rem;
    }
  }
}