.services {
  text-align: center;
  color: #343434;
  padding-bottom: 92px;
  background: #f9fbfb;
  line-height: 1.5;

  .title {
    padding: 33px 0 107px;

    &__header {
      line-height: 1.3;
      margin-bottom: 3px;
      padding: 0 30px;
    }
  }

  &__list {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    margin-top: 8px;
    padding: 0;

    @media (max-width: 1250px) {
      justify-content: center;
    }
  }

  &__item {
    padding: 0;
    position: relative;
    margin: 0 auto 10px 0;

    &:before {
      content: '';
      display: block;
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      bottom: 7px;
      left: 0;
      right: 0;
      z-index: 1;
    }

    @media (max-width: 1250px) {
      margin: 0 30px;
      width: 58%;
    }

    @media (max-width: 800px) {
      width: 80%;
      margin: 0 auto 10px;
    }

    &:nth-child(2), &:nth-child(4), &:nth-child(6) {
      margin-right: 0;

      @media (max-width: 1250px) {
        margin-left: 0;
      }
    }

    img {
      position: relative;
      width: 100%;

      @media (max-width: 1080px) {
        width: 100%;
      }
    }
  }

  &__description {
    display: none;
    position: absolute;
    bottom: 7px;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(113,246,235,0.97);
    padding: 39px;
    text-align: left;
    color: #132928;
    z-index: 3;

    @media (max-width: 1080px) {
      padding: 20px 30px;
    }

    @media (max-width: 500px) {
      padding: 10px;
    }
  }

  &__header {
    font-size: 1.2rem;
    font-family: $ff-main-bold;
    margin-bottom: 24px;
    @media (max-width: 880px) {
      margin-bottom: 10px;
      font-size: 1.2rem;
    }

    @media (max-width: 522px) {
      font-size: .8rem;
    }
  }

  &__text {
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: $ff-main-light;

    @media (max-width: 880px) {
      font-size: 1rem;
    }

    @media (max-width: 522px) {
      font-size: .7rem;
    }
  }
}

.hidden {
  display: none;
}