.team {
  text-align: center;
  color: #343434;
  padding-bottom: 155px;

  .title {
    padding: 133px 0 107px;

    &__header {
      line-height: 1.3;
      margin-bottom: 3px;
      padding: 0 30px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;

    @media (max-width: 1300px) {
      justify-content: center;
    }
  }

  &__item {
    position: relative;

    @media (max-width: 1300px) {
      width: 38%;
    }

    @media (max-width: 1080px) {
      width: auto;
      margin: 0 10px;
    }

    img {
      margin-bottom: 10px;

      @media (max-width: 450px) {
        width: 90%;
      }
    }
  }

  &__description {
    padding: 39px;
    text-align: left;
    position: absolute;
    top: 182px;
    bottom: 22px;
    left: 19px;
    right: 15px;
    opacity: 0;
    color: #132928;
    transition: all 1s;
    z-index: 3;

    &:before {
      position: absolute;
      left: 6%;
      content: '';
      border: 12px solid transparent;
      border-bottom: 17px solid rgba(113,246,235,0.97);
      top: -29px;
    }

    @media (max-width: 1080px) {
      padding: 40px;
    }

    @media (max-width: 450px) {
      padding: 20px;
    }

    @media (max-width: 350px) {
      top: 140px;
    }

    &:hover {
      margin: 0 auto 10px;
      opacity: 1;
      background: rgba(113,246,235,0.97);
      cursor: pointer;
      transition: all 1s;

      @media (min-width: 1081px) and (max-width: 1300px) {
        margin: 0 30px 10px;
      }

      @media (max-width: 450px) {
        margin: 0 20px;
      }
    }
  }

  &__header {
    font-size: 1.2rem;
    font-family: $ff-main-bold;
    margin-bottom: 15px;

    @media (max-width: 1080px) {
      font-size: 1rem;
    }

    @media (max-width: 500px) {
      margin-bottom: 10px;
      font-size: 0.9rem;
    }
  }

  &__text {
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: $ff-main-light;
    margin-bottom: 27px;

    @media (max-width: 1080px) {
      font-size: 0.9rem;
    }

    @media (max-width: 500px) {
      font-size: 0.8rem;
    }
  }

  &__social a {
    color: #132928;
    margin-right: 10px;
  }
}