.team {
  text-align: center;
  color: #343434;
  padding-bottom: 85px;

  .title {
    padding: 79px 0 107px;

    &__header {
      line-height: 1.3;
      margin-bottom: 3px;
      padding: 0 30px;
    }
  }

  &__position {
    margin-left: 10px;
    color: #757776;
    font-family: $ff-main-light;
    font-style: italic;
    font-size: .9rem;
    line-height: 1.5;
  }

  &__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 7px;
    padding: 0;

    @media (max-width: 1300px) {
      justify-content: center;
      margin: 0 20px;
    }
  }

  &__item {
    position: relative;

    @media (max-width: 1300px) {
      margin-right: 20px;
    }

    @media (max-width: 1080px) {
      margin: 0 10px;
    }

    img {
      margin-bottom: 10px;

      @media (max-width: 450px) {
        width: 90%;
      }
    }
  }

  &__description {
    display: none;
    max-width: 336px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 16px 25px;
    width: 100%;
    background: rgba(113,246,235,0.97);
    padding: 39px;
    text-align: left;
    color: #132928;
    z-index: 3;

    @media (max-width: 450px) {
      margin: 0 38px 25px;
      width: 80%;
    }

    @media (max-width: 450px) {
      margin: 0 34px 25px;
      padding: 25px;
    }

    @media (max-width: 379px) {
      margin: 0 32px 25px;
      padding: 15px;
    }

    @media (max-width: 350px) {
      margin: 0 27px 25px;
      padding: 15px;
    }

    &:before {
      position: absolute;
      left: 6%;
      content: '';
      border: 12px solid transparent;
      border-bottom: 17px solid rgba(113,246,235,0.97);
      top: -29px;
    }
  }

  &__header {
    font-size: 1rem;
    font-family: $ff-main-bold;
    margin-bottom: 15px;

    @media (max-width: 1080px) {
      font-size: 1rem;
    }

    @media (max-width: 500px) {
      font-size: 0.9rem;
    }
  }

  &__text {
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: $ff-main-light;
    margin-bottom: 27px;

    @media (max-width: 1080px) {
      font-size: 0.9rem;
    }

    @media (max-width: 500px) {
      font-size: 0.8rem;
      margin-bottom: 20px;
    }
  }

  &__social a {
    color: #132928;
    margin-right: 10px;
  }
}