.team {
  text-align: center;
  color: #343434;
  padding-bottom: 85px;

  .title {
    padding: 79px 0 107px;

    &__header {
      line-height: 1.3;
      margin-bottom: 3px;
      padding: 0 30px;
    }
  }

  &__position {
    margin-left: 10px;
    color: #757776;
    font-family: $ff-main-light;
    font-style: italic;
    font-size: .9rem;
  }

  &__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 7px;
    padding: 0;

    @media (max-width: 1300px) {
      justify-content: center;
    }
  }

  &__item {
    position: relative;

    &:first-child {
      margin-bottom: 5px;
    }

    @media (max-width: 1300px) {
      width: 38%;
    }

    @media (max-width: 1080px) {
      width: auto;
      margin: 0 10px;
    }

    img {
      margin-bottom: 10px;

      @media (max-width: 450px) {
        width: 90%;
      }
    }
  }

  &__description {
    display: block;
    max-width: 370px;
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0 auto 10px;
    width: 100%;
    background: rgba(113,246,235,0.97);
    padding: 39px;
    text-align: left;
    color: #132928;
    z-index: 3;

    //&:before {
    //  position: absolute;
    //  left: 6%;
    //  content: '';
    //  border: 12px solid transparent;
    //  border-bottom: 17px solid rgba(113,246,235,0.97);
    //  top: -29px;
    //}
    //
    //@media (max-width: 1080px) {
    //  padding: 40px;
    //}
    //
    //@media (max-width: 450px) {
    //  padding: 20px;
    //}
    //
    //@media (max-width: 350px) {
    //  top: 140px;
    //}
    //
    //&:hover {
    //  margin: 0 auto 10px;
    //  opacity: 1;
    //  background: rgba(113,246,235,0.97);
    //  cursor: pointer;
    //  transition: all 1s;
    //
    //  @media (min-width: 1081px) and (max-width: 1300px) {
    //    margin: 0 30px 10px;
    //  }
    //
    //  @media (max-width: 450px) {
    //    margin: 0 20px;
    //    line-height: 1.5;
    //  }
    //}
  }

  &__header {
    font-size: 1rem;
    font-family: $ff-main-bold;
    margin-bottom: 15px;

    @media (max-width: 1080px) {
      font-size: 1rem;
    }

    @media (max-width: 500px) {
      margin-bottom: 0;
      font-size: 0.9rem;
    }
  }

  &__text {
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: $ff-main-light;
    margin-bottom: 27px;

    @media (max-width: 1080px) {
      font-size: 0.9rem;
    }

    @media (max-width: 500px) {
      font-size: 0.8rem;
      margin-bottom: 20px;
    }
  }

  &__social a {
    color: #132928;
    margin-right: 10px;
  }
}