.testim {
  position: relative;
  color: #3e3f3f;
  background: #f8fafa;
  padding-bottom: 181px;

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
    position: relative;

    @media (max-width: 1080px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    @media (max-width: 600px) {
      padding: 0 20px;
    }
  }

  &__list {
    position: relative;

    @media (max-width: 1080px) {
      margin: 50px;
    }

    &:before {
      content: '';
      display: block;
      background: #eeeff1;
      position: absolute;
      top: 35px;
      bottom: 35px;
      left: -43px;
      right: -43px;
      z-index: 0;

      @media (max-width: 1200px) {
        margin: 50px;
        top: -20px;
        bottom: -20px;
      }

      @media (max-width: 600px) {
        margin: 20px;
        top: 5px;
        bottom: 5px;
      }

      @media (max-width: 380px) {
        top: -10px;
        bottom: -10px;
      }
    }
  }

  &__item--text {
    margin: 12% auto 0 176px;
    text-align: center;

    @media (max-width: 1080px) {
      margin: 50px 0;
      padding: 0 50px;
    }
  }

  &__header {
    margin: 0;
    font-size: 1.375rem;
    font-family: $ff-main-bold;
  }

  &__description {
    margin-top: -9px;
    font-size: 1.1rem;
    line-height: 1.5;
    padding-bottom: 44px;
    font-family: $ff-main-light;
  }

  &__img {
    position: relative;
    z-index: 1;

    @media (max-width: 600px) {
      width: 90%;
      height: 90%;
    }
  }
}


/*------------ Carousel ------------*/

// Wrapper for the slide container and indicators
.testim_carousel {
  position: relative;
  margin: 0 41px;
}

.testim_carousel-inner {
  position: relative;
  overflow: hidden;

  .item {
    display: none;
    position: relative;
  }
  .active, .next, .prev {
    display: block;
  }
  .active {
    left: 0;
  }
  .next, .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .next {
    left: 100%;
  }
  .prev {
    left: -100%;
  }
  .next.left, .prev.right {
    left: 0;
  }
  .active {
    &.left {
      left: -100%;
    }
    &.right {
      left: 100%;
    }
  }
}
