.testim {
  position: relative;
  color: #3e3f3f;
  background: #f8fafa;
  padding-bottom: 155px;

  &__img-bg {
    position: relative;

    @media (max-width: 1079px) {
      margin: 0 auto 60px;
    }
  }

  &__img-bg:before {
    content: '';
    display: block;
    background: #eeeff1;
    position: absolute;
    top: 35px;
    bottom: 35px;
    left: -43px;
    right: -43px;
    z-index: 0;

    @media (max-width: 600px) {
      margin: 20px;
      top: 5px;
      bottom: 5px;
    }

    @media (max-width: 380px) {
      top: -10px;
      bottom: -10px;
    }
  }

  &__img {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0 42px;

    @media (max-width: 1080px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    margin: 30px 38px;
    text-align: center;

    @media (max-width: 600px) {
      margin: 0 10px;
    }

    &--text {
      margin: 30px 38px;
      margin-left: 119px;

      @media (max-width: 1080px) {
        margin: 0;
        padding: 0 30px;
      }
    }
  }

  &__header {
    margin: 0;
    font-size: 1.375rem;
    font-family: $ff-main-bold;
  }

  &__description {
    margin-top: -9px;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: left;
    padding-bottom: 44px;
    font-family: $ff-main-light;
  }
}