.work {
  text-align: center;
  color: #343434;
  padding-bottom: 155px;

  .title {
    padding: 92px 0;

    &__header {
      line-height: 1;
      padding: 0 30px;
      margin-bottom: 9px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;

    @media (max-width: 1300px) {
      justify-content: center;
    }
  }

  &__item {

    @media (max-width: 1300px) {
      width: 38%;
    }

    @media (max-width: 1080px) {
      width: auto;
      margin: 0 10px;
    }

    img {
      margin-bottom: 10px;

      @media (max-width: 450px) {
        width: 90%;
      }
    }
  }
}