.button {
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;
  padding: 10px 22px 7px;
}

.button--call {
  font-family: $ff-main;
  letter-spacing: 4px;
  background: transparent;
  color: #777879;
  border: 1px solid #777879;
  padding: 15px 45px;
  margin-top: 20px;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    color: darken(#777879, 10%);
    background: lighten(#777879, 40%);
  }
}

.button--text-uppercase {
  text-transform: uppercase;
}