/*------------ Carousel indicators ------------*/
.carousel-indicators {
  position: absolute;
  bottom: -25px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
  li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #d0d0d0;
  }
  .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #71f6eb;
  }
}

.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  .btn {
    text-shadow: none;
  }
}


/*------------ Carousel control ------------*/

.carousel-control {
  position: absolute;
  bottom: -25px;
  left: 50%;
  z-index: 15;
  padding-left: 0;
  list-style: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);

  &-next {
    left: auto;
    right: 0;
  }
  &:hover, &:focus {
    outline: 0;
    text-decoration: none;
  }
  .icon-prev, .icon-next, .fa-angle-left, .fa-angle-right {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block;
    cursor: pointer;
    font-size: 2rem;
    color: #bdbdbd;
    margin-right: 20px;
    padding: 5px 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);

    &:hover {
      color: #2f6763;
      background: #71f6eb;
    }
  }
  .icon-prev, .fa-angle-left {
    right: 50%;
    //margin-left: -10px;
  }
  .icon-next, .fa-angle-right {
    left: 50%;
    //margin-right: -10px;
  }
  .icon-prev, .icon-next {
    width: 20px;
    height: 20px;
    line-height: 1;
    font-family: serif;
  }
  .icon-prev:before {
    content: '\2039';
  }
  .icon-next:before {
    content: '\203a';
  }
}