.icon {
  margin: auto auto 23px auto;
}

.icon-rko {
  @include sprite($rko);
  filter: grayscale(1);
  //transition: all ease-in-out 1s;
  //
  //&:hover {
  //  transform: rotateY(360deg);
  //}
}

.icon-audiopro {
  @include sprite($audiopro);
  filter: grayscale(1);
  //transition: all ease-in-out 1s;
  //
  //&:hover {
  //  transform: rotateY(360deg);
  //}
}

.icon-infinity {
  @include sprite($infinity);
  filter: grayscale(1);
  //margin-bottom: 27px;
  //height: 94px;
  //transition: all ease-in-out 1s;
  //
  //&:hover {
  //  transform: rotateY(360deg);
  //}
}

.icon-sport {
  @include sprite($sport);
  filter: grayscale(1);
  //transition: all ease-in-out 1s;
  //
  //&:hover {
  //  transform: rotateY(360deg);
  //}
}

.icon-swan {
  @include sprite($swan);
  filter: grayscale(1);
  //margin-bottom: 25px;
  //transition: all ease-in-out 1s;
  //
  //&:hover {
  //  transform: rotateY(360deg);
  //}
}

.icon-swancer{
  @include sprite($swancer);
  filter: grayscale(1);
  //transition: all ease-in-out 1s;
  //
  //&:hover {
  //  transform: rotateY(360deg);
  //}
}

.icon-audiopro2 {
  @include sprite($audiopro_2);
  filter: grayscale(1);
  //transition: all ease-in-out 1s;
  //
  //&:hover {
  //  transform: rotateY(360deg);
  //}
}

.icon-infinity2 {
  @include sprite($infinity_2);
  filter: grayscale(1);
  //margin-bottom: 26px;
  //transition: all ease-in-out 1s;
  //
  //&:hover {
  //  transform: rotateY(360deg);
  //}
}

.icon-rko2 {
  @include sprite($rko_2);
  filter: grayscale(1);
  //transition: all ease-in-out 1s;
  //
  //&:hover {
  //  transform: rotateY(360deg);
  //}
}