.title {
  padding: 110px 0 107px;
  color: #181919;
  text-align: center;
  line-height: 1.5;

  &__header {
    font-family: $ff-main-bold;
    font-size: 2.4rem;
    line-height: 0.1;
    letter-spacing: 2px;

    @media (max-width: 400px) {
      line-height: 1;
    }
  }

  &__text {
    font-family: $ff-main-light;
    font-size: 1rem;
    letter-spacing: 4px;

    @media (max-width: 699px) {
      margin: 0 40px;
    }
  }

  &__uppercase {
    text-transform: uppercase;
  }
}