doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport' content='width=device-width')

        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
        link(rel='stylesheet' href='css/main.min.css')

        title Meditation

        body
            include sections/header
            include sections/about_2
            include sections/works
            include sections/services
            include sections/team
            include sections/testim_2
            include sections/partners

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="js/main.min.js")