section#about.about
    .container
        .title
            h2.title__header.title__uppercase About us
            .title__text.title__uppercase Lorem ipsum dolor sit amet event landing template

        .about__content

            #about__carousel.carousel.slide(data-ride='.about_carousel')
                // Indicators
                ol.carousel-indicators
                    li.active(data-target='#about__carousel' data-slide-to='0')
                    li(data-target='#about__carousel' data-slide-to='1')
                    li(data-target='#about__carousel' data-slide-to='2')
                    li(data-target='#about__carousel' data-slide-to='3')
                    li(data-target='#about__carousel' data-slide-to='4')

                // Wrapper for slides
                .about__list
                    .carousel-inner
                        .item.active
                            img(src="images/about_1.png" alt="about_1").about__img
                        .item
                            img(src="images/about_1.png" alt="about_1").about__img
                        .item
                            img(src="images/about_1.png" alt="about_1").about__img
                        .item
                            img(src="images/about_1.png" alt="about_1").about__img
                        .item
                            img(src="images/about_1.png" alt="about_1").about__img


            .about__item--text
                h3.about__header.title__uppercase We Actually Do amazing works

                .about__description
                    br
                    | A visual approach is an approach to a runway at an airport conducted under instrument flight rules.
                    | The pilot must at all times have either the airport or the preceding aircraft in approach correct sight.
                    | Conducted under instrument flight rules. The pilot must at all times.
                    br
                    br
                    | Preceding aircraft in approach correct sight. conducted under instrument flight rules.
                    br

                h3.about__header.title__uppercase why we are the great?
                .about__description
                    br
                    | A visual approach is an approach to a runway at an airport
                    | conducted under instrument flight rules.
                    | The preceding aircraft in approach correct sight.