section.faq#faq
    .container

        .faq__list
            //Form
            .faq__item.form__item
                    form#form(method="post" action="send.php").form
                        .form__fields
                            input.form__input(type='text' placeholder="Your Name" autocomplete='on' name='name' data-valid='required')
                            input.form__input(type='text' placeholder="Subject" autocomplete='on' name='subject' data-valid='required')
                            input.form__input(type="email" placeholder="Your email" autocomplete='on' name='email' data-valid='required')
                            input.form__input.textarea(name="message" placeholder="Your message" required='required')
                            input#btn_form.button.button--form.button--text-uppercase(type='submit' value="Submit message")

            //Text about company
            .faq__item.faq__text
                .faq__description
                    | Adress line 1
                    br
                    | Adress line 2
                    br
                    | Phone: +548 945645
                    br
                    | Fax: +456456 54546
                    br
                    br
                    | Web: www.designagency.net
                    br
                    | E-mail: info@designagency.net
                    .faq__map
                        img(src="images/map.png" alt="map")


