footer.footer
    .container
        .footer__title FOLLOW US
        .footer__links
            a.footer__social(href="https://pinterest.com/" target="_blank")
                i.fa.fa-pinterest-p(aria-hidden="true")
            a.footer__social(href="https://twitter.com/" target="_blank")
                i.fa.fa-twitter(aria-hidden="true")
            a.footer__social(href="https://facebook.com/" target="_blank")
                i.fa.fa-facebook-f(aria-hidden="true")
            a.footer__social(href="https://plus.google.com" target="_blank")
                i.fa.fa-google(aria-hidden="true")
        .footer__text Copyright Masum Parvej and Serhii Kovtoniuk, All Rights Reserved