header.header#home
    .container
        .header__top
            a.logo__picture
                img(src="images/logo.png" alt="logo")

            #toggle.button_container
                span.top
                span.middle
                span.bottom
            #overlay.overlay
                nav.overlay-menu
                    ul
                        li
                            a(href='#') Home
                        li
                            a(href='#') About
                        li
                            a(href='#') Work
                        li
                            a(href='#') Contact

        .header__bottom
            h1.header__title Say Hello to SHOPNO!
                br
                | Agency CORPORATE SHOPNO Theme

            .button.button--call.button--text-uppercase Contact us
            img(src="images/juice.png" alt="juice").juice