header.header#home
    .container
        //Header include logo and toggle menu
        .header__top
            a.logo__picture
                img(src="images/logo.png" alt="logo")

            #toggle.button_container(data-target=".overlay")
                span.top
                span.middle
                span.bottom
                #overlay.overlay
                    nav.overlay-menu
                        ul
                            li
                                a(href='#home') Home
                            li
                                a(href='#about') About
                            li
                                a(href='#work') Work
                            li
                                a(href='#services') Our Services
                            li
                                a(href='#team') Small team
                            li
                                a(href='#testim') Testimonials
                            li
                                a(href='#faq') Contact

        //Header include main text and button Contact us
        .header__bottom
            h1.header__title Say Hello to
                span.shopno SHOPNO!
                br
                |
                span.agency Agency
                | CORPORATE SHOPNO Theme

            .button.button--call.button--text-uppercase
                a(href="#faq") Contact us
            img(src="images/juice.png" alt="juice").juice