section#partners.partners
    .container
        .icon__list
            .icon__list--1
                .icon.icon-rko
                .icon.icon-audiopro
                .icon.icon-infinity
            .icon__list--2
                .icon.icon-sport
                .icon.icon-swan
                .icon.icon-swancer
                .icon.icon-audiopro2
                .icon.icon-infinity2
                .icon.icon-rko2

