section#services.services
    .container
        .title
            h2.title__header.title__uppercase our services
            .title__text.title__uppercase Lorem ipsum dolor sit amet event landing template

        ul.services__list
            li.services__item
                img(src='images/service_1.png' alt="service_1")
                .services__description--1
                    .services__header.title__uppercase Designing is The CooL LOVE FOR
                    .services__text.
                        Our most popular service is our Virtual Receptionist. We know that sometimes it’s something and you
                        middle most this job was posted less than five minutes ago, and we think it’s a good match for you.
                        If you submit a proposal now, you’ll be one of the first candidates. You may even catch the client
                        while they’re still online.
            li.services__item
                img(src='images/service_2.png' alt="service_2")
                .services__description
                    .services__header.title__uppercase cool psd Design
                    .services__text.
                        Our most popular service is our we know that sometimes it’s something and you middle most..
            li.services__item
                img(src='images/service_3.png' alt="service_3")
                .services__description--1
                    .services__header.title__uppercase Designing is The Cool
                        .services__text.
                            Our most popular service is our Virtual Receptionist. We know that ...
            li.services__item
                img(src='images/service_4.png' alt="service_4")
                .services__description
                    .services__header.title__uppercase PSD TO HTML KORI
                        .services__text.
                            We know that sometimes it’s something and you middle most..
            li.services__item
                img(src='images/service_5.png' alt="service_5")
                .services__description--1
                    .services__header.title__uppercase cool psd Design
                        .services__text.
                            Our most popular service is our we know that sometimes it’s something and you middle most..
            li.services__item
                img(src='images/service_6.png' alt="service_6")
                .services__description
                    .services__header.title__uppercase Designing is The Cool FOR
                        .services__text.
                            Our most popular service is our Virtual Receptionist. We know that sometimes it’s something and
                            you middle most..
