section#services.services
    .container
        .title
            h2.title__header.title__uppercase our services
            .title__text.title__uppercase Lorem ipsum dolor sit amet event landing template

        ul.services__list
            li.services__item
                img(src='images/service_1.png' alt="service_1")
            li.services__item
                img(src='images/service_2.png' alt="service_2")
            li.services__item
                img(src='images/service_3.png' alt="service_3")
            li.services__item
                img(src='images/service_4.png' alt="service_4")
            li.services__item
                img(src='images/service_5.png' alt="service_5")
            li.services__item
                img(src='images/service_6.png' alt="service_6")
