section#services.services
    .container
        .title
            h2.title__header.title__uppercase our services
            .title__text.title__uppercase Lorem ipsum dolor sit amet event landing template

        .services__list
            .services__item
                img(src='images/service_1.png' alt="service_1")
                .services__description
                    .services__header.title__uppercase Designing is The CooL LOVE FOR
                    .services__text.
                        Our most popular service is our Virtual Receptionist. We know that sometimes it is something and you
                        middle most this job was posted less than five minutes ago, and we think it is a good match for you.
                        If you submit a proposal now, you will be one of the first candidates. You may even catch the client
                        while they are still online.
            .services__item
                img(src='images/service_2.png' alt="service_2")
                .services__description
                    .services__header.title__uppercase cool psd Design
                    .services__text.
                        Our most popular service is our we know that sometimes it is something and you middle most..
            .services__item
                img(src='images/service_3.png' alt="service_3")
                .services__description
                    .services__header.title__uppercase Designing is The Cool
                        .services__text.
                            Our most popular service is our Virtual Receptionist. We know that ...
            .services__item
                img(src='images/service_4.png' alt="service_4")
                .services__description
                    .services__header.title__uppercase PSD TO HTML KORI
                        .services__text.
                            We know that sometimes it is something and you middle most..
            .services__item
                img(src='images/service_5.png' alt="service_5")
                .services__description
                    .services__header.title__uppercase cool psd Design
                        .services__text.
                            Our most popular service is our we know that sometimes it is something and you middle most..
            .services__item
                img(src='images/service_6.png' alt="service_6")
                .services__description
                    .services__header.title__uppercase Designing is The Cool FOR
                        .services__text.
                            Our most popular service is our Virtual Receptionist. We know that sometimes it is something and
                            you middle most..
