section#team.team
    .container
        .title
            h2.title__header.title__uppercase small team
            .title__text.title__uppercase Lorem ipsum dolor sit amet event landing template

        ul.team__list
            li.team__item
                img(src='images/team_1.png' alt="team_1")
                .team__description
                    .team__header.title__uppercase SAMANTA PALL
                        span.team__position / HR Manager
                    .team__text.
                        Lorem Ipsum is not simply is  an action designer random text
                        It has roots in a piece.
                    .team__social
                        a(href="https://www.facebook.com/")
                            i.fa.fa-facebook-f
                        a(href="https://twitter.com/")
                            i.fa.fa-twitter
                        a(href="https://www.linkedin.com/")
                            i.fa.fa-linkedin
                        a(href="https://mail.google.com/")
                            i.fa.fa-envelope

            li.team__item
                img(src='images/team_2.png' alt="team_2")
                .team__description
                    .team__header.title__uppercase AL RAYHAN
                        span.team__position / QA TESTER
                    .team__text.
                        Lorem Ipsum is not simply is  an action designer random text
                        It has roots in a piece.
                    .team__social
                        a(href="https://www.facebook.com/")
                            i.fa.fa-facebook-f
                        a(href="https://twitter.com/")
                            i.fa.fa-twitter
                        a(href="https://www.linkedin.com/")
                            i.fa.fa-linkedin
                        a(href="https://mail.google.com/")
                            i.fa.fa-envelope
            li.team__item
                img(src='images/team_3.png' alt="team_3")
                .team__description
                    .team__header.title__uppercase STEVE PALL
                        span.team__position / WEB DESIGNER
                    .team__text.
                        Lorem Ipsum is not simply is  an action designer random text
                        It has roots in a piece.
                    .team__social
                        a(href="https://www.facebook.com/")
                            i.fa.fa-facebook-f
                        a(href="https://twitter.com/")
                            i.fa.fa-twitter
                        a(href="https://www.linkedin.com/")
                            i.fa.fa-linkedin
                        a(href="https://mail.google.com/")
                            i.fa.fa-envelope
            li.team__item
                img(src='images/team_4.png' alt="team_4")
                .team__description
                    .team__header.title__uppercase WEB DESIGNER
                        span.team__position / WEB DESIGNER
                    .team__text.
                        Lorem Ipsum is not simply is  an action designer random text
                        It has roots in a piece.
                    .team__social
                        a(href="https://www.facebook.com/")
                            i.fa.fa-facebook-f
                        a(href="https://twitter.com/")
                            i.fa.fa-twitter
                        a(href="https://www.linkedin.com/")
                            i.fa.fa-linkedin
                        a(href="https://mail.google.com/")
                            i.fa.fa-envelope
            li.team__item
                img(src='images/team_5.png' alt="team_5")
                .team__description
                    .team__header.title__uppercase ANNA JAMESON
                        span.team__position / UI /UX DESIGNER
                    .team__text.
                        Lorem Ipsum is not simply is  an action designer random text
                        It has roots in a piece.
                    .team__social
                        a(href="https://www.facebook.com/")
                            i.fa.fa-facebook-f
                        a(href="https://twitter.com/")
                            i.fa.fa-twitter
                        a(href="https://www.linkedin.com/")
                            i.fa.fa-linkedin
                        a(href="https://mail.google.com/")
                            i.fa.fa-envelope
            li.team__item
                img(src='images/team_1.png' alt="team_1")
                .team__description
                    .team__header.title__uppercase SABRINA PALL
                        span.team__position / QA TESTER
                    .team__text.
                        Lorem Ipsum is not simply is  an action designer random text
                        It has roots in a piece.
                    .team__social
                        a(href="https://www.facebook.com/")
                            i.fa.fa-facebook-f
                        a(href="https://twitter.com/")
                            i.fa.fa-twitter
                        a(href="https://www.linkedin.com/")
                            i.fa.fa-linkedin
                        a(href="https://mail.google.com/")
                            i.fa.fa-envelope