section#testim.testim
    .container
        .title
            h2.title__header.title__uppercase what they says
            .title__text.title__uppercase Lorem ipsum dolor sit amet event landing template

        //Carousel
        #testim__carousel.carousel.slide(data-ride='.testim_carousel').testim_carousel
            // Wrapper for slides
            .testim__list
                .testim_carousel-inner
                    //Slide 1
                    .item.active
                        .testim__content
                            //First part carousel with image
                            .bg__image
                                img(src="images/team_1.png" alt="team_1").testim__img
                                //Second part carousel with text
                            .bg__text
                                .testim__item--text
                                    h3.testim__header.title__uppercase Samanta Pall
                                        span.testim__team__position / HR MANAGER

                                    .testim__description
                                        br
                                        | Lorem Ipsum is simply dummy text of the printing and you
                                        | standard dummy know that text ever since the 1500s, when an unknown printer took a galley of type
                                        | and scrambled it to make a type specimen book.
                                    .services_raiting
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                    //Slide 2
                    .item
                        .testim__content
                            //First part carousel with image
                            .bg__image
                                img(src="images/team_2.png" alt="team_2").testim__img
                                //Second part carousel with text
                            .bg__text
                                .testim__item--text
                                    h3.testim__header.title__uppercase AL RAYHAN
                                        span.testim__team__position / QA Tester

                                    .testim__description
                                        br
                                        | Lorem Ipsum is simply dummy text of the printing and you
                                        | standard dummy know that text ever since the 1500s, when an unknown printer took a galley of type
                                        | and scrambled it to make a type specimen book.
                                    .services_raiting
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                    //Slide 3
                    .item
                        .testim__content
                            //First part carousel with image
                            .bg__image
                                img(src="images/team_3.png" alt="team_3").testim__img
                                //Second part carousel with text
                            .bg__text
                                .testim__item--text
                                    h3.testim__header.title__uppercase Steve Pall
                                        span.testim__team__position / Web DESIGNER

                                    .testim__description
                                        br
                                        | Lorem Ipsum is simply dummy text of the printing and you
                                        | standard dummy know that text ever since the 1500s, when an unknown printer took a galley of type
                                        | and scrambled it to make a type specimen book.
                                    .services_raiting
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                    //Slide 4
                    .item
                        .testim__content
                            //First part carousel with image
                            .bg__image
                                img(src="images/team_4.png" alt="team_4").testim__img
                                //Second part carousel with text
                            .bg__text
                                .testim__item--text
                                    h3.testim__header.title__uppercase Jim Beam
                                        span.testim__team__position / Web DESIGNER

                                    .testim__description
                                        br
                                        | Lorem Ipsum is simply dummy text of the printing and you
                                        | standard dummy know that text ever since the 1500s, when an unknown printer took a galley of type
                                        | and scrambled it to make a type specimen book.
                                    .services_raiting
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                    //Slide 5
                    .item
                        .testim__content
                            //First part carousel with image
                            .bg__image
                                img(src="images/team_5.png" alt="team_5").testim__img
                                //Second part carousel with text
                            .bg__text
                                .testim__item--text
                                    h3.testim__header.title__uppercase Anna Jameson
                                        span.testim__team__position / UI /UX DESIGNER

                                    .testim__description
                                        br
                                        | Lorem Ipsum is simply dummy text of the printing and you
                                        | standard dummy know that text ever since the 1500s, when an unknown printer took a galley of type
                                        | and scrambled it to make a type specimen book.

                                    .services_raiting
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
