section#testim.testim
    .container
        .title
            h2.title__header.title__uppercase testim us
            .title__text.title__uppercase Lorem ipsum dolor sit amet event landing template

        .testim__list
            .testim__item

                .testim__img-bg
                    img(src="images/team_1.png" alt="team_1").testim__img

            .testim__item--text
                h3.testim__header.title__uppercase We Actually Do amazing works

                .testim__description
                    br
                    | A visual approach is an approach to a runway at an airport conducted under instrument flight rules.
                    | The pilot must at all times have either the airport or the preceding aircraft in approach correct sight.
                    | Conducted under instrument flight rules. The pilot must at all times.
                    br
                    br
                    | Preceding aircraft in approach correct sight. conducted under instrument flight rules.
                    br

                h3.testim__header.title__uppercase why we are the great?
                .testim__description
                    br
                    | A visual approach is an approach to a runway at an airport
                    | conducted under instrument flight rules.
                    | The preceding aircraft in approach correct sight.
