section#work.work
    .container
        .title
            h2.title__header.title__uppercase featured works
            .title__text.title__uppercase Lorem ipsum dolor sit amet event landing template

        ul.work__list
            li.work__item
                img(src='images/ice.png' alt="ice")
            li.work__item
                img(src='images/vizitka.png' alt="vizitka")
            li.work__item
                img(src='images/bottle.png' alt="bottle")
            li.work__item
                img(src='images/book.png' alt="book")
            li.work__item
                img(src='images/nine.png' alt="nine")
            li.work__item
                img(src='images/package.png' alt="package")
